body {
	background-color: black;
	text-align: center;
}

.contentContainer {
	position: relative;
    width: 1280px;
    height: 100%;
    margin: 0px auto;
}

h1 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 50px;
	color: white;
	text-align: center;
}

a {
	font-family: Verdana;
	color: Aquamarine;
	font-size: 16px;
	text-decoration: none;
}

h2 {
	font-family: Verdana;
	font-weight: 300;
	font-size: 42px;
	color: white;
}

p {
	font-family: Verdana;
	font-size: 21px;
	color: gray;
}

#copyright {
	text-align: right;
}

img.fullWidth {
	width: 100%;
}
